body{
    background-color: rgb(0, 0, 0);
}

/* Organiza o título e a navbar na mesma linha */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* botões nav */
nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    color: orange;
    
}

header h1 {
    margin: 0;
    color: orange;
    gap: 200px;
}

.foto {
    display: flex;
    align-items: center;
    justify-content: center;
    
} 

.foto img{
    width: 500px;
    margin-left: 900px;
}


