@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: rgb(22, 22, 22);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Organiza o título e a navbar na mesma linha */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
}

/* Coloca o nome e o ícone na mesma linha */
.titulo-flex {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Animação do nome e ícone */
.titulo-flex:hover {
    transform: translateY(-3px);
    text-shadow: 0px 0px 10px rgba(255, 165, 0, 0.6);
}

.titulo-texto {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/* Estilização e cor do ícone */
.icone-dev {
    width: 50px;
    filter: invert(58%) sepia(82%) saturate(2250%) hue-rotate(11deg) brightness(101%) contrast(101%);
    height: auto;
}

/* Botões da nav */
nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    gap: 20px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffa500;
    margin-top: 8px;
    margin-right: 50px;
    font-size: larger;
}

nav ul li {
    transition: all 0.3s ease;
}

nav ul li:hover {
    transform: translateY(-3px);
    text-shadow: 0px 0px 10px rgba(255, 165, 0, 0.6);
}

header h2 {
    margin: 0;
    color: orange;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Corpo do site */
main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 100px;
    gap: 80px;
}

/* Bloco de texto da esquerda */
.apresentacao {
    width: 500px;
    color: orange;
    font-weight: bold;
    font-size: larger;
}

/* Título da apresentação */
.apresentacao h2 {
    margin-bottom: 10px;
}

/* Nome principal */
.apresentacao h1 {
    font-size: 40px;
    margin: 10px 0;
}

/* Parágrafos */
.apresentacao p {
    margin-bottom: 20px;
}

/* Caixa onde fica a foto */
.foto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* Imagem de perfil */
.foto img {
    width: 450px;
    height: auto;
}

/* Estilização do footer */
footer{
    color: orange;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fab.fa-linkedin{
    color: orange;
    width: 100px;
    height: auto;
    
}

.fab.fa-github{
    color: orange;
    width: 100px;
    height: auto;
}

.fab.fa-trello{
    color: orange;
    width: 100px;
    height: auto;
}